.nav {
  min-height: 80px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:darkgray;
  padding-top: 25px;
  color: WHITE;
  font-size: larger;
  font-size: 24px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  }

  #navtitle {
    font-size: 28px;
    color: white;
    font-weight: bolder;
  }
  
  /* .navbar-nav > li > a {padding-top:25px !important; padding-bottom:25px !important;} */

 